out
*.class
VCG_Raytracer/.idea/misc.xml
VCG_Raytracer/.idea/workspace.xml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/raytracer.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
